# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-lock.yaml
package-lock.json

# Build
dist/
build/

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local
.npmrc

# OS / Editor
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Logs
logs/
*.log
